@use '@/app/styles/variables.scss' as vars;

.movieInfo {
  font-size: 1rem;
  line-height: 1.6;
}

.detailRow {
  margin-bottom: 0.8rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.label {
  font-weight: 600;
  color: vars.$text-color;
  flex-shrink: 0;
}

.value {
  color: #444;
}

.synopsis {
  margin-top: 1.5rem;
}

.synopsisText {
  margin-top: 0.3rem;
  margin-bottom: 0;
  color: #333;
  text-align: justify;
}
